.vs/
**/.vs/
**/bin/
**/obj/
*.user
*.suo
*.tmp
*.log
artifacts/
Installer/Output/
Installer/*.log
Installer/rcedit-x64.exe
Releases/*.nupkg
Releases/*.exe
Releases/*.zip
Releases/assets*.json
Releases/RELEASES*
sonydev.runtime.json
**/sonydev.runtime.json
Python/
Installer/Terms/
Installer/current_version.rc
SonyDevBypass.App/SonyDevBypass.App.sln
